@{
    ViewBag.Title = "Credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
<div>
<h2>Credits</h2>
<h2>Informazioni su Holonet 4</h2>
<h3>Versione: 4.0 Alpha</h3>
<h4>Copyright &copy; - @DateTime.Now.ToString("yyyy")</h4>
<h4>Sviluppato per SWLive GRV</h4>
<h5>Utilizza librerie di propietà di Gianluca "Number" Guazzo</h5>
</div>
    </p>